# Python Basics

> the most basic funtion is print

In [5]:
print("hello world")

hello world

> **shitf+tab**  gives you clue about the function

---

> we want to keep some values to reuse again. thats why we use variables to keep those values

In [6]:
a = 10

> in python we dont have to specify the data type

In [9]:
a = 123
b = "hello"

> we can use **type()** function to ge the type of an object

In [10]:
type(b)

str

> we can create complex numbers in python. for complex numbers use **j** for imaginary part

In [12]:
d = 5+6j

In [13]:
type(d)

complex

> we can create strings with double and single quotes

In [17]:
s = "hello"
k = 'hello'

> variable name can not start with number but can start with underscore

In [20]:
*a = 5 #invalid

SyntaxError: starred assignment target must be in a list or tuple (1812323152.py, line 1)

In [21]:
_a = 3 #valid

> we can make assignment for multiple variable in one line of code\
the number of variables and values must match otherwise gives errror

In [22]:
a,b,c,d = 1,"a",2+3j,False

> we can access real and imaginary part of a complex data by **.imag, .real** attriburs

In [23]:
c = 1+2j
c.real

1.0

> we can not conctinate string and int\
we can use **str()** function to cast string

In [24]:
"abc"+4

TypeError: can only concatenate str (not "int") to str

> true is considered as 1 and false is considered as 0. both can be used with int in an arthmetic expression

In [25]:
True+True

2

> we can get input from user by **input()** function\
input function always gives **string type** back

In [29]:
inp = input("please gir me an input\n")

please gir me an input
hello

In [30]:
inp

'hello'