# String List Indexing

> how to access some character of string\
when a string stored in memory it is indexed starting from zero

In [4]:
s = "ramazan"

In [5]:
type(s)

str

> forward indexing start from **0**\
backward indexing starts from ***-1**

In [8]:
s[0]

's'

In [9]:
s[-1]

'h'

In [12]:
a = "my name is ramazan"

> if we try to access index that doesnt exist it gives error of **index out of range**

In [13]:
a[100] #throws error

IndexError: string index out of range

> to access part of the string use **[start:end:step]**\
upper bound will be excluded

In [14]:
a[0:10]

'my name is'

> if we try to access an individual error that doesnt exist it gives error\
but if we try to go out of range with slicing it returns data

In [16]:
b = "ineuron"
b[0:50] #doesnt give error

'ineuron'

> by default step is **1**. if we try to get data with expression **b[-1:-4]** it returns nothing\
because it goes forward

In [20]:
b[-1:-4] # doesnt give any data because it goes forward as (positive step)

''

> **b[0:100:-1]** gives an empty string because it starts from begining and goes backward

In [21]:
b[0:100:-1]

''

> if the **direction** of :end and  **step** doesnt match in indexing then statements returns nothing

In [24]:
b[0:100:-1] # end is forward but step is backward so result is empty

''

> **b[::]** by default start is 0\
end is size of str \
step is 1\
returns the string itself

In [25]:
b[::] #return the string itself

'ineuron'

> **b[::-1]** returns the string in reverse order\
if we do not specify stat and end it decides based on direction so revert in this case

In [27]:
b[::-1]

'norueni'

> multiplying a string with a number n then returns the string n times

In [28]:
"ram"*3

'ramramram'

> **+** operator concatinates two string

In [29]:
"ram"+"hello"

'ramhello'

> to find the index of particular character we can use **.find()** function\
it the character occurs many times only returns the first occurance

In [32]:
a = "ramazan"
a.find()

1

> if the substring we look for doesn exist in the string .find() returns **-1**

In [33]:
a.find("x")

-1

> **.count(s)** return the occurance time of the character we are looking for(s)

In [1]:
a.count("a") # a='my name is ramazan'

NameError: name 'a' is not defined

> to seperate each word seperated by space in a string use **.split()** method.\
funciton returns a list\
by default it splits the string based on **space**\
we can specify the delimiter to split by

In [38]:
a.split()

['my', 'name', 'is', 'ramazan']

In [40]:
a.split("a") # uses "a" as split delimiter

['my n', 'me is r', 'm', 'z', 'n']

> **.upper()** makes all characters upper in the string

In [41]:
a.upper()

'MY NAME IS RAMAZAN'

> **.swapcase()** swaps the lower to upper and vice versa

In [42]:
"AbC".swapcase()

'aBc'

**.title()** makes each letter of word upper like titles

In [43]:
"my name is ramazan".title()

'My Name Is Ramazan'

> **.capitalize()** makes the first letter upper and others lower

In [45]:
"my Name is RAmazan".capitalize()

'My name is ramazan'

> **" ".join()** puts space after every character\
**s.join(a)** puts s after each character of a

In [46]:
"hello".join("ram")

'rhelloahellom'

> **s.rstrip()**, strips trailing space\
**s.lstrip()** strips leading space\
**s.strip()** strips leading and trailing spaces

In [47]:
" hello ".rstrip()

' hello'

In [48]:
" hello ".lstrip()

'hello '

In [49]:
" hello ".strip()

'hello'

> **s.replace(x, y)** replace x by y in a string

In [50]:
"ramazan".replace("a", "b")

'rbmbzbn'

> **s.expandtabs()** expands \t in the string to 3 space character

In [51]:
"hello\tworld".expandtabs()

'hello   world'

> **s.center(n, c)** puts s in the center and puts n times charater aroun s

In [52]:
"sudh".center(40, "x")

'xxxxxxxxxxxxxxxxxxsudhxxxxxxxxxxxxxxxxxx'

> all functions starts with **.isxxxx** returns true or false

In [6]:
s = "  "
s.isspace()

True

# LİST

In [12]:
l = ["sudh", 1, 4+3j, 345.96]

> list is collection of homogenious or heterogenious items\
accessing an item in a list is just like string\
it supports forward and backward indexing

In [13]:
l[0]

'sudh'

In [14]:
l[-1]

345.96

In [15]:
l[::-1]

[345.96, (4+3j), 1, 'sudh']

In [16]:
l[0][1]

'u'

> addition operation conctinates two list

In [17]:
l1 = ["sudh", "kumar", 432]
l2 = ["xyz", "pqr", 3.2]
l1+l2

['sudh', 'kumar', 432, 'xyz', 'pqr', 3.2]

> l[]*n extends list n times

In [18]:
l = [1,2]
l*2

[1, 2, 1, 2]

> replace an element in a list

In [19]:
l = ["a", "b", "c"]

In [20]:
l[0] = "x"
l

['x', 'b', 'c']

## Mutable and Immutable

> list is mutable. we can modify an item in list.\
Strings are immutable we can not assingn a character at specific position

In [22]:
l = ["sudh", "ram", "kum"]
l[0][0] = "x" # immutable gives error

TypeError: 'str' object does not support item assignment

> **s.replace()** doesnt mutate the string. it just creates new one. original string stays the same

In [24]:
s = "ramazan"
s.replace("r", "s")

'samazan'

In [25]:
s

'ramazan'

> **l.append(e)** appends the element at the end of the list

In [26]:
l = []
l.append("a")
l

['a']

> **l.pop()** removes and returns the last element in the list

In [27]:
l.pop()

'a'

> **l.pop(int)** removes and returns the element at the given int position

In [29]:
l = [1,2,3,4]
l.pop(0)

1

In [30]:
l

[2, 3, 4]

> to insert an element at specific location use\
**l.insert(index, object)**\
inserts object to index\
after insertion l[index] becomes object

In [31]:
l = [1,2,3]
l.insert(1, "a")
l

[1, 'a', 2, 3]