# TUPLE

> Tuples are collections like lists.() are used to create it. we can hold any kind of element in tuple like list.

In [1]:
t = (1,2,3)

In [2]:
type(t)

tuple

In [4]:
t1 = ("hello", 1, 2.3, True)

In [6]:
l = ["hello", 1, 2.3, True]

In [7]:
print(type(t1))
print(type(l))

<class 'tuple'>
<class 'list'>

> to access an element in tuple is the same as list. we can use slicing operation with tuples

In [8]:
t1[:2]

('hello', 1)

In [10]:
t1[::-1] #reverse order like list

(True, 2.3, 1, 'hello')

In [12]:
t1[-1] #access the last element of the tuple just like list

True

> list is mutable tuples are immutable. We can not assign a new value to the element that already in the tuple

In [17]:
l1 = [4,5,6,7] # modified an element in the list

In [18]:
l1[0] = "hello"
l1

['hello', 5, 6, 7]

In [19]:
t1 = (4,5,6,7)

In [16]:
t1[0] = "hello" # this creates error since tuples are immutable

TypeError: 'tuple' object does not support item assignment

> **"+"** operation also works for tuples

In [20]:
t2 = (7,8,9)
t1+t2

(4, 5, 6, 7, 7, 8, 9)

> **"\*"** operation works like list. it multiplies the number of element like does with list

> there are many operation for list but not much for tuple because tuples are immutable. there are only two operation **count and index**

> we can hold a tuple inside another tuple

In [24]:
t = (1,2,3,("a", "b"))

In [27]:
t2 = (1,2,[1,2,3]) # we can host a list inside a tuple

In [29]:
t2[2][0] = "hello" # this is works. we can modify the list inside the tuple.

In [30]:
t2

(1, 2, ['hello', 2, 3])

> ** we can access and modify the list inside a tuple but we can not modify element at particular index of tuple

> we can not modify tuple inside a tuple

> we can use **tuple()** function to convert other collections to tuples

# SET

> Only holds unique element does not allow duplicates

In [31]:
l = [1,2,3,3,3,2,2,2,1,1,1]

In [32]:
s = set(l)

In [33]:
s

{1, 2, 3}

> if we use  **s={}** the type of s will be **dict**\
if we use **s={1,2,3}** the type of s will be **set**\
if we dont have any element between braces it is a dict if we add even single element it will be set

In [34]:
s2 = {}
type(s2)

dict

In [35]:
s3 = {1,2,3}
type(s3)

set

> we can not use **[ ]**(slicing opt.) to access element because sets are **unordered** collections

In [37]:
s3[0] #doesnt work.because unordered

TypeError: 'set' object is not subscriptable

In [39]:
s3.add(4)
s3

{1, 2, 3, 4}

> **we can not host a list inside a set because list is unhashable**

In [41]:
s4 = {1,2,3, [4,5,6]} #give error. list is mutable so unhashable

TypeError: unhashable type: 'list'

> **we can host tuple in a set. because tuple is immutable so it is hashable**

In [43]:
s5 = {1,2,3,(4,5,6)} #doesnt gives error

In [44]:
s6 = {(1,2,3), (1,2,3), 1,2,3} #will remove one of the tuple

In [45]:
s6

{(1, 2, 3), 1, 2, 3}

In [46]:
s = {(3,4,5,6), 3,4,5}

In [47]:
s.remove(4)

In [48]:
s

{(3, 4, 5, 6), 3, 5}

In [49]:
s.discard(5)

> difference betwee **remove** and **discard** is that if element is not member discard does nothing bur remove gives error

In [50]:
s.remove(45)

KeyError: 45

In [51]:
s.discard(45)

# DİCTİONARY

> Dictionary is collection of key value pair

In [5]:
d = {4:"sudh"}

In [6]:
type(d)

dict

In [7]:
d

{4: 'sudh'}

> we access elements by their indexes in list but here we use key value pairs

In [8]:
d1 = {"key1":1, "key2":2, "key3":3}

In [10]:
d1["key1"] # access particular item

1

> we can have duplicate key in dict. the value of duplicate key will be the last one

In [12]:
d2 = {"key1":[1,2,3], "key2":[4,5,6], "key1":45}

In [13]:
d2["key1"] # returns the value of the last key appear in the dict.

45

> **d.keys()** and **d.values()** methods can be used to access keys and values of a dictionary

In [14]:
d2.keys()

dict_keys(['key1', 'key2'])

In [15]:
d2.values()

dict_values([45, [4, 5, 6]])

> **d.items** returns key value pear as list of tuples

In [16]:
d2.items()

dict_items([('key1', 45), ('key2', [4, 5, 6])])

> to add new key value or update the value of a key\
**d[key] = value**\
if key exist it updates it doesnt it creates

In [17]:
d2[5] = "hello"

In [18]:
d2

{'key1': 45, 'key2': [4, 5, 6], 5: 'hello'}

> we can not modify the name of key. we need to delete and create another with the desired name\
**del d[key]** will delete only one key value pair

In [19]:
d2

{'key1': 45, 'key2': [4, 5, 6], 5: 'hello'}

In [20]:
del d2["key1"]

In [21]:
d2

{'key2': [4, 5, 6], 5: 'hello'}

> keys must be immutable types

In [22]:
d2[[1,2,3]] = "list" #gives error because list is mutable

TypeError: unhashable type: 'list'

In [24]:
d2[(1,2,3)] = "tuple" #works because tuple is immutable

>**d.get(key, default)** return the value of key if exist. if doesnt returns default

In [25]:
d2.get("10","doesnt exist" ) # 10 doesnt exit as key so it returns default

'doesnt exist'

> **d1.update(d2)** updates d1 by using d2. if key of d1 exist in d2 it updates. if doesnt it creates key value pair

In [26]:
d1 = {1:1, 2:2, 3:3}
d2 = {4:4, 1:10, 5:5}

In [27]:
d1.update(d2)

In [28]:
d1

{1: 10, 2: 2, 3: 3, 4: 4, 5: 5}

In [29]:
d1 = {1:1, 2:2, 3:3}
d2 = {4:4, 1:10, 5:5}

In [32]:
d1+d2 # + operatator doesn work with dict **d.update(d)** works in similar fashion;

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

> **d[key]** gives error if key doesnt exist\
**d.get(key)** doesnt give error if key doesnt exist. in this case it returns default